//masthead
.masthead {
	@include masthead;
	height: $masthead-height;
}

.masthead-short {
	@include masthead;
	height: $masthead-short-height;
}

.main-heading-container {
	position: relative;
	display: block;
	max-width: 100%;
	padding: 20px 50px;
	background: $masthead-heading-bg;
	z-index: 3;

	&::before {
		content: " ";
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		border: 3px solid $masthead-heading-bg;

	}

	h1 {
		font-weight: $fw-light;
		text-transform: uppercase;
		position: relative;
		margin: 0 0 10px 0;
		z-index: 1;
	}

	h2 {
		font-weight: $fw-light;
		position: relative;
		margin: 0;
		z-index: 1;
	}
}

@media(max-width: $phone){
	.main-heading-container {
		margin: 0 5px;
	}
}

.parallax-bg {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	pointer-events: none;
	z-index: 1;
}

@media(max-width: $tablet){
	.parallax-bg {
		display: none;
	}
}