//util

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.block-center {
	display: block;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
}