//widgets

.textwidget {
	font-weight: $fw-light;
	font-size: $body-copy-fontsize;
	line-height: 26px;
}

.cta-button {
	position: relative;
	z-index: 3;
}

.cta-button-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: $black;
	opacity: 0.55;
}

.panel-row-style {
	position: relative;
	min-width: 0;
}

@media(max-width: $tablet) {
	.cta-button-container,
	.cta-button-container.text-left,
	.cta-button-container.text-right {
		text-align: center;
	}
}

//contact
.address,
.phone,
.email {
	position: relative;
	display: block;
	margin-left: 30px;

	.fa {
		position: absolute;
		top: 0;
		left: -30px;
	}
}

//testimonials

.slider-container {
	position: relative;
}

.testimonial-slider {
	//padding: $gutter;
	padding: 0 $gutter $gutter $gutter;
	max-width: 100%;
	overflow: hidden;

	.testimonial-slide {

		h3 {
			font-weight: 400;
			font-size: 24px;
			color: $primary-color;
			margin: 10px 0;
		}

		blockquote {
			font-style: italic;
			font-weight: 300;
			margin: 15px 0;
		}
	}
}